* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  background: #535a3b;
}

.lista-clientes {
  padding: 0;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
}

.lista-clientes li{
  border: 2px solid black;
  background: #fff;
  border-radius: 4px;
  font-size: 16px;
  padding: 5px;
  margin-top: 1px;
}
.lista-clientes li button {
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}
.lista-clientes li button:hover {
  transform: scale(1.03);
  transition: 0.2s ease;
}

.lista-clientes li:hover {
  background: #f2f2f2;
}

.content {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.content button {
  padding: 5px 10px;
  border-radius: 4px;
  margin: 4px;
}

.content button:hover {
  transform: scale(1.02);
  transition: 0.2s ease;
}

.content.show {
  display: flex;
}

.content.clientes div {
  flex-direction: row;
}

.btn-content {
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-content.excluir {
  display: none;
}




