
.container {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container.ativo {
  display: flex;
}

form {
  background: white;
  padding: 4px;
  border: 2px solid black;
  border-radius: 2px;
  width: 100%;
  position: relative;
}

form input {
  width: 100%;
  margin-top: 4px;
  padding: .7rem .5rem;
  box-sizing: border-box;
  border-radius: 7px;
  border: 1px solid #ccc;
}

form input:focus {
  outline: none;
  border-color: black;
}

form button {
  margin: 4px 4px 0 0;
  padding: 10px;
  border-radius: 7px;
  border: none;
  background: black;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all .2s ease;
}

form button:hover {
  box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, .3);
  transform: scale(1.03);
}

form fieldset {
  border-radius: 7px;
  padding: 4px;
}

.msgForm {
  position: absolute;
  z-index: 2500;
  padding: 5px;
  background: #fff;
  border: 2px solid black;
  border-radius: 4px;
  box-shadow: 5px 10px 25px black;
  font-size: 1.3rem;
  font-weight: bold;
}

#salvarAlteracoes {
  display: none;
}

#cancelar {
  display: none;
}

.formButtons {
  display: flex;
}